@media screen and (max-width : 1200px) {
  
  :root{
    --px: 80px
  }

  .about .img-box{
    margin-bottom: 80px;
  }

  .about .img-box img{
    width: 100%;
  }

  .about .content-box{
    position: static;
    max-width: 100%;
    text-align: center;
    padding: 0 95px;
  }


}


@media screen and (max-width : 992px) {

  .mobile-nav-brand{
    display: flex;
    position: absolute;
    right: 25px;
    left: 25px;
    top: 40px;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-nav-brand img{
    max-width: 145px;
  }

  .navbar-nav{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: var(--black);
    padding: 25px;
    display: flex;
    align-items: center;
    z-index: 10;
    transition: 0.25s;
  }

  .navbar-nav ul{
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  .navbar-nav ul li a{
    font-family: var(--ff-josefin-sans);
    font-size: 25px;
    font-weight: var(--fw-300);
    text-transform: uppercase;
  }

  nav ul li::after{
    display: none;
  }

  .nav-toggler{
    display: block;
  }

  footer{
    flex-direction: column;
  }

  .footer-left{
    margin-bottom: 30px;
  }

  .footer-brand{
    text-align: center;
  }

  .footer-nav ul{
    place-content: center;
  }

  .footer-right{
    text-align: center;
  }

  .product h2{
    text-align: center;
  }

  .btn-primary{
    position: static;
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 80px;
  }
}


@media screen and (max-width : 768px) {

  :root{
    --fs-h1: 4em;
    --fs-h2: 2.8em;

    --px: 40px;
    --mb: 120px
  }

  .banner h1{
    padding: 22px;
  }

  .about .content-box{
    padding: 0 50px;
  }

  footer{
    padding: 55px var(--px);
  }

  .footer-left{
    margin-bottom: 50px;
  }

  .footer-brand{
    margin-bottom: 30px;
  }
}


@media screen and (max-width : 576px) {

  :root{
    --fs-h1: 2.6em;
    --fs-h2: 2.1em;
    --fs-h3: 1.6em;

    --px: 25px;
    --mb: 100px
  }

  header{
    background: url(../images/mobile/image-hero.jpg) center no-repeat;
    background-size: cover;
    padding: 40px var(--px);
  }

  .navbar{
    margin-bottom: 160px;
  }

  .navbar-brand img{
    max-width: 145px;
  }

  .banner h1{
    margin-bottom: 175px;
  }

  .about .img-box{
    margin-bottom: 50px;
  }

  .about .content-box{
    padding: 0 15px;
  }

  .about .content-box h2{
    margin-bottom: 20px;
  }

  .product h2{
    margin-bottom: 20px;
  }

  .product-grid{
    grid-gap: 25px;
  }
  
  .product-card{
    height: 117px;
  }

  .product-card h3{
    bottom: 15px;
    left: 20px;
  }

  .btn-primary{
    margin-top: 35px;
  }

  .footer-nav ul{
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
  }

  .social-link{
    margin-bottom: 15px;
  }
}